---
layout: layouts/main.njk
title: homepage
---

<h1>Display Miniature makers</h1>

<p>
  A curated list of non-gaming (or not exclusively gaming) display miniature makers. Physical models 54mm and up.
</p>

<ul>
{%- for site in sites %}
  <li>
    <a class="card" href="{{ site.computedUrl }}">
      <div class="card-header">
        <strong> {{ site.curated.title }}</strong>

        {%- if site.favicon -%}
          <img class="favicon" src="{{ site.favicon | replace('http://', 'https://') }}" alt="" width="16" />
        {%- endif -%}
      </div>
      
      {% if site.description %}
        <div class="card-descr">
          {{ site.description }}
        </div>
      {% endif %}

      {% if site.computedImage %}
        <img class="card-thumb" src="{{ site.computedImage | replace('http://', 'https://') }}" alt="" />
      {% else %}
        <div class="card-thumb card-text-thumb">{{ site.curated.title }}</div>
      {% endif %}

    </a>
    <textarea hidden>
      {{ site | dump | safe }}
    </textarea>
  </li>
{% endfor -%}
</ul>


<textarea hidden>
  {{ sites | dump | safe }}
</textarea>
