---
layout: layouts/main.njk
title: Display miniature makers
---

<h1>Display miniature makers</h1>

<p>
  A curated list of non-gaming (or not exclusively gaming) display miniature makers. Physical models 54mm and up.
</p>

<ul>
{%- for site in sites %}
  <li>
    <a class="card" href="{{ site.computedUrl }}">
      <div class="card-header">
        <strong> {{ site.curated.title }}</strong>

        {%- if site.favicon -%}
          <img class="favicon" src="{{ site.favicon | replace('http://', 'https://') }}" alt="" width="16" loading="lazy" />
        {%- endif -%}
      </div>
      
      {% if site.description %}
        <div class="card-descr">
          {{ site.description }}
        </div>
      {% endif %}

      {% if site.computedImage %}
        <img class="card-thumb" src="{{ site.computedImage | replace('http://', 'https://') }}" alt="" loading="lazy" />
      {% else %}
        <div class="card-thumb card-text-thumb">{{ site.curated.title }}</div>
      {% endif %}

    </a>
    {# <textarea hidden>
      {{ site | dump | safe }}
    </textarea> #}
  </li>
{% endfor -%}
</ul>

<div class="app-footer">
  <p>Maintained by some of the awesome folks on <a target="_blank" href="https://discord.gg/swjbX5EAUE">the Discord server</a> of the <a target="_blank" href="https://www.youtube.com/@PWS_podcast">Paintwater Soup Podcast</a>.<p>
</div>

{# <textarea hidden>
  {{ sites | dump | safe }}
</textarea> #}
